.o_row_consultant {
    // max-width: 800px;
    position: relative;
    margin: 50px auto;
    margin-bottom: 0px !important;
}
.o_container_product_info {
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    margin-bottom: 20px;
}
.image_product {
    width: 100%;
    padding: 30px;
}
.section-product-info {
    padding: 30px;
}
.table-product-info {
    font-size: 20px !important;
    tr.line {
        border-bottom: 1px solid #d0d0d0;
    }
    th {
        width: 200px;
    }
    td {
        text-align: right;
    }
    .price {
        font-size: 28px;
        font-weight: 900;
    }
    .price-red {
        color: #b41010;
    }
}
.product_not_found {
    height: 200px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 48px;
        font-weight: bold;
        color: #c5c5c5;
    }
}